{{!-- BEGIN-SNIPPET modals --}}
{{#g-modal title="Hiya" closeAction="toggleModal"}}
  <div class="g-modal-body">
    {{g-input label="First Name"}} <br/>
    {{g-input label="Middle Name"}} <br/>
    {{g-input label="Last Name"}} <br/>
    {{g-input label="Birthday" type="date"}} <br/>
    {{g-textarea label="Notes"}}
  </div>
  <div class="g-modal-footer">
    {{g-button text="OK" action="toggleModal"}}
    {{g-button text="Cancel" action="toggleModal"}}
  </div>
{{/g-modal}}
{{!-- END-SNIPPET --}}
