<thead>
  <tr>
    {{#each children as |column|}}
      {{g-grid-heading heading=column.heading sortPath=column.sortPath}}
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each content as |row index|}}
    {{#g-grid-row rowIndex=index}}
      {{yield row index}}
    {{/g-grid-row}}
    {{else}}
    <tr>
      <td>No records found.</td>
    </tr>
  {{/each}}
  {{!-- <tfoot>
    <tr>
      <td colspan="4">
        sortField: {{sortField}} -
        sortDir: {{sortDir}}
      </td>
    </tr>
  </tfoot> --}}
</tbody>
