<thead>
  <tr>
    {{#each children as |column|}}
      {{g-grid-heading heading=column.heading sortPath=column.sortPath sortField=sortField}}
    {{/each}}
  </tr>
</thead>

{{#if onDragAndDrop}}
  {{#sortable-group tagName="tbody" onChange="reorderItems" as |group|}}
    {{#each content as |row index|}}
      {{#g-sortable-item tagName="tr" model=row group=group handle="tr" rowIndex=index}}
        {{yield row index}}
      {{/g-sortable-item}}
      {{else}}
      <tr>
        <td>No records found.</td>
      </tr>
    {{/each}}
  {{/sortable-group}}
{{else}}
  <tbody>
    {{#each content as |row index|}}
      {{#g-grid-row rowIndex=index}}
        {{yield row index}}
      {{/g-grid-row}}
      {{else}}
      <tr>
        <td>No records found.</td>
      </tr>
    {{/each}}
  </tbody>
{{/if}}
