<thead>
  <tr>
    {{#each headings as |heading|}}
      {{#if heading.isSelector}}
        <th>{{input type="checkbox" checked=allSelected}}</th>
      {{else}}
        {{g-grid-heading heading=heading.text sortPath=heading.sortPath sortField=sortField}}
      {{/if}}
    {{/each}}
  </tr>
</thead>

{{#if onDragAndDrop}}

  {{#sortable-group tagName="tbody" onChange="reorderItems" as |group|}}
    {{#each content as |row index|}}
      {{#g-sortable-item tagName="tr" model=row group=group handle="tr" rowIndex=index}}
        {{yield row index}}
      {{/g-sortable-item}}
      {{else}}
      <tr>
        <td>No records found.</td>
      </tr>
    {{/each}}
  {{/sortable-group}}

{{else}}

  <tbody>
    {{#each content as |row index|}}
      {{#g-grid-row rowIndex=index}}
        {{yield row}}
      {{/g-grid-row}}
    {{/each}}
  </tbody>

{{/if}}
