<h2 id="title">Ember GXT Components</h2>
<br/><br/>

<p>
  {{link-to "Content Panels" "gxt-panel"}} |
  {{link-to "Inputs" "gxt-input"}} |
  {{link-to "Buttons" "gxt-button"}} |
  {{link-to "Mashup" "mashup"}} |
</p>

<br/>
<br/>
{{outlet}}
