<h2 id="title">Components</h2>

<p>
  {{link-to "Content Panels" "panels"}} |
  {{link-to "Inputs" "inputs"}} |
  {{link-to "Buttons" "buttons"}} |
  {{link-to "Grids" "grids"}} |

  {{link-to "Mashup" "mashup"}} |
</p>

{{outlet}}
