<h2 id="title">ember-cli-vtkui</h2>

<p>
  {{link-to "Content Panels" "panels"}} |
  {{link-to "Inputs" "inputs"}} |
  {{link-to "Combos" "combos"}} |
  {{link-to "Buttons" "buttons"}} |
  {{link-to "Grids" "grids"}} |
  {{link-to "Paginator" "paginator" (query-params offset=0)}}
</p>

{{liquid-outlet}}
