<div class="header">
  <h2 class="title">ember-cli-vtkui</h2>

  <div>
    {{link-to "About" "index" class="nav"}} |
    {{link-to "Content Panels" "panels" class="nav"}} |
    {{link-to "Tab Panels" "tab-panels" class="nav"}} |
    {{link-to "Inputs" "inputs" class="nav"}} |
    {{link-to "Combos" "combos" class="nav"}} |
    {{link-to "Buttons" "buttons" class="nav"}} |
    {{link-to "Grids" "grids" (query-params sortField="firstName") class="nav"}} |
    {{link-to "Paginator" "paginator" (query-params offset=0) class="nav"}} |
    {{link-to "Modals" "modals" class="nav"}}
  </div>
</div>

<div class="body">
  {{liquid-outlet}}
</div>

{{#g-toolbar}}
  <a href="https://github.com/rynam0" target="_blank">@rynam0</a> on
  <a href="https://github.com/rynam0/ember-cli-vtkui" target="_blank">GitHub</a>
{{/g-toolbar}}

{{#if showModal}}
  {{#g-modal title=modalTitle closeAction="closeModal"}}
    <div class="g-modal-body">
      <p>{{{modalMessage}}}</p>
    </div>
    <div class="g-modal-footer">
      {{g-button text="OK" action="closeModal"}}
    </div>
  {{/g-modal}}
{{/if}}
