{{#gxt-panel title="Inputs"}}
  <div class="padded-5">
    First Name: {{model.firstName}} <br/>
    Middle Name: {{model.middleName}} <br/>
    Last Name: {{model.lastName}} <br/>
    Birthday: {{model.bday}} <br/>
    <hr/>
    <form>
      {{gxt-input label="First Name" value=model.firstName}}
      {{gxt-input label="Middle Name" value=model.middleName}}
      {{gxt-input label="Last Name" value=model.lastName}}
      {{gxt-input label="Birthday" type="date" value=model.bday}}
    </form>
    <hr/>
    <p>
      {{#gxt-panel title="Example"}}
        <p class="padded-5">
          <pre>&#123;&#123;gxt-input label="First Name" value=model.firstName&#125;&#125;</pre>
        </p>
      {{/gxt-panel}}
    </p>
  </div>
{{/gxt-panel}}
