{{#g-panel title="Inputs"}}
  {{#g-panel-body}}

    <span class="g-input-field-label">First Name:</span> {{person.firstName}} <br/>
    <span class="g-input-field-label">Middle Name:</span> {{person.middleName}} <br/>
    <span class="g-input-field-label">Last Name:</span> {{person.lastName}} <br/>
    <span class="g-input-field-label">Birthday:</span> {{person.bday}} <br/>
    <span class="g-input-field-label">Notes:</span> {{person.notes}} <br/>
    <hr/>

    <form>
      {{g-input label="First Name" value=person.firstName}} <br/>
      {{g-input label="Middle Name" value=person.middleName}} <br/>
      {{g-input label="Last Name" value=person.lastName}} <br/>
      {{g-input label="Birthday" type="date" value=person.bday}} <br/>
      {{g-selectize label="Robot" content=robots optionValuePath="content.id" optionLabelPath="content.name"}}

      {{g-textarea label="Notes" value=person.notes}}

      <div class="rg">
        <label>Radios</label>
        <input type="radio" name="rg" value=1> one
        <input type="radio" name="rg" value=2> two
        <input type="radio" name="rg" value=3> three
      </div>

    </form>


    <hr/>

    {{#g-panel title="Example"}}
      {{#g-panel-body}}
        <pre>
          &#123;&#123;g-input label="First Name" value=person.firstName&#125;&#125;
          &#123;&#123;g-textarea label="Notes" value=person.notes&#125;&#125;
        </pre>
      {{/g-panel-body}}
    {{/g-panel}}

  {{/g-panel-body}}
{{/g-panel}}
