{{#g-panel title="Panel Title"}}
  {{#g-panel-body}}
    This panel has a title.
    {{code-snippet name="panel-title.hbs"}}
  {{/g-panel-body}}
{{/g-panel}}

{{#g-panel}}
  {{#g-panel-body}}
    This panel does not have a title.
    {{code-snippet name="panel-no-title.hbs"}}
  {{/g-panel-body}}
{{/g-panel}}

{{#g-panel title="Toolbar"}}
  {{#g-toolbar}}
    {{g-input label="Input" model=model path="name" placeholder="Search..."}}
    {{g-selectize label="Robots" content=model optionValuePath="content.id" optionLabelPath="content.name"}}
    {{g-button text="Button"}}
  {{/g-toolbar}}
  {{#g-panel-body}}
    <p>Some text here</p>
    {{code-snippet name="panel-toolbar.hbs"}}
  {{/g-panel-body}}
{{/g-panel}}
