{{#g-panel title="Tab Panel"}}
  {{#g-toolbar}}
    {{link-to "Tab 1" "tab-panels.index" class="g-tab"}}
    {{link-to "Tab 2" "tab-panels.tab2" class="g-tab"}}
    {{link-to "Tab 3" "tab-panels.tab3" class="g-tab"}}
    {{link-to "Tab 4" "tab-panels.tab4" class="g-tab"}}
  {{/g-toolbar}}
  {{#g-panel-body}}
    <p>
      {{liquid-outlet}}
    </p>
    {{code-snippet name="tab-panel.hbs"}}
  {{/g-panel-body}}
{{/g-panel}}
